body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",Times New Roman, serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

.header-navigation-site,
.header-catalog-site,
.header-navigation-list,
.header-button,
.breadcrumb,
.main-catalog-list,
.footer ul,
.footer-social ul,
.main-catalog ul {
  list-style: none;
   padding: 0;
  margin: 0;

}

.header,
.main-catalog,
.footer {
	width: 1200px;
	margin: 10px auto;

}

/*Стили для навигации*/

.header-container,
.wrepper-main-catalog,
.main-catalog-list-wrepper {
	display: flex;
	align-items: center;
	padding: 0 26px;

}

.header-container-1 {
  display: flex;
  align-items: center;
}

.header-navigation-site {
  display: flex;
  align-items: center;
  margin-left: 11px;
}

.header-container-2 {
  margin-left: auto;
  }

 .header-navigation-site >li {
 	margin-right: 3px;
  padding: 9px 13px;

 }



 .header-navigation,
.header-catalog-navigation,
.catalog-saite {
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
}

.header-button {
  display: flex;
  align-items: center;
 }

 .header-container-2 li {
  height: 35px;
  padding-right: 10px;
}

.header-catalog-site,
.header-catalog-navigation ul {

  display: flex;
  align-items: center;
  margin-left: 0px;
}

.header-navigation .header-navigation-site  {
  position: relative;
}


.header-navigation-list {
  padding: 13px 0;
  background-color: #f8f7f4;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  position: absolute;
  top: 39px;
  left: -15px;
  display: none;
}

.catalog-saite:hover .header-navigation-list,
.catalog-saite:active .header-navigation-list {
  display: block;
}

.header-navigation-list li:not(:nth-child(1))  {
  padding: 5px 10px;
}

.header-navigation-list a {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.header-navigation-list li:nth-child(1) {
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d0ce;
}

.header-navigation-site >li:not(:nth-child(1)):hover,
.catalog-saite:hover {
  border-radius: 15px;
  background-color: #f7f6f3;

}

.header-navigation-site >li:not(:nth-child(1)):active,
.catalog-saite:active {
  border-radius: 15px;
  background-color: #f7f6f3;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
}

.header-navigation-site >li:not(:nth-child(1)):hover >a,
.catalog-saite:hover >a {
  color: #323232;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}


.header-navigation-list li:not(:nth-child(1)):hover {
  background-color: #fbded7;
}

.header-navigation-list li:not(:nth-child(1)):active {
  background-color:  #f6b5a5;
}


/*Стиль для "Поиск"*/
.header-button {
  position: relative;
}

.magnifier {
  width: 35px;
  height: 35px;
  background-image: url(../img/logo-magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  background-color: #a1b4a9;

}

li:hover .magnifier  {
  background-image: url(../img/logo-magnifie-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f7f4;
}

.header-button-search-form input {
  width: 311px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 15px 20px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;

}

.header-button-search-form {
  width: 341px;
  position: absolute;
  top: 35px;
  left: -305px;
  border: none;
  border-radius: 5px;
  background-color: #f8f7f4;

}

.header-button-search-form {
  display: none;
}

li:hover .header-button-search-form {
  display: block;
}

li:hover .submit {
  display: block;
}



/*Стили для кнопки "Вход"*/

.header-button-input {
  padding-top: 10px;
  padding-left: 44px;
  padding-right: 17px;
  background-color: #a1b4a9;
  /*opacity: 0,2;*/
  padding-bottom: 9px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  border: none;
  background-image: url(../img/logo-input.png);
  background-repeat: no-repeat;
  background-position: 16px 40%;

}

.header-button li:hover .header-button-input {
  background-image: url(../img/logo-forminput.png);
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  color: #323232;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border: none;
}

.header-button li:hover:active .header-button-input {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
}


.header-input-form {
  width: 277px;
  padding: 20px 17px;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: -160px;
  display: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  z-index: 1;
}

.header-input-form input {
  width: 241px;
  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.header-button li:hover .header-input-form {
  display: block;
}


.form-button-input {
  padding: 15px 25px;
  color: #fefefe;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 40px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

}

.blok-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blok-1 {
  display: flex;
  flex-direction: column;
}

.header-input-form a {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  }
/*Конец стилей "Вход"*/

.main-timework {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 28px;
}

.wrepper-sliader {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/slider-item1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider {
  position: relative;
  margin-bottom: 47px;
   padding: 0 26px;
  padding-top: 311px;

  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 26px;
  top: 480px;
  z-index: 20;

  font-size: 0;
}

#slide2,
#slide3 {
  display: none;
}

/*Стили для section class="bonus"*/

.bonus-wrepper {
  display: flex;
   margin-left: auto;
  margin-right: auto;
}

.bonus {
  display: flex;
  margin-bottom: 46px;
  padding: 0 26px;
}

.bonus-1 {
  width: 560px;
  margin-right: 25px;
  padding-left: 20px;
  padding-bottom: 44px;
  background-image: url(../img/fon-raspberry.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.bonus-2 {
  width: 560px;
  padding-left: 20px;
  background-image: url(../img/logo-chocolate.png);
  background-repeat: no-repeat;
  background-size: cover;
   border-radius: 10px;
}

.bonus h2 {
  color: #ffffff;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.bonus p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.bonus a {
  padding: 14px 22px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  border: none;
  border-radius: 20px;
  margin-left: 330px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration:  none;
}

.bonus a:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.bonus a:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.heath-wrepper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:35px;
}

.main-heath {
  position: relative;
  padding: 0 26px;
}

.heath {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.heath img {
  position: relative;
  border-radius: 50%;

}

.heath li {
  position: relative;
  width: 267px;
  text-align: center;
}

.heath li::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 67px;
  background-image: url(../img/logo-heath.png);
  background-repeat: no-repeat;
  top: 10px;
  left: 0;
  z-index: 1;
}

.heath li p:nth-child(2) {
  position: absolute;
  top: 180px;
  left: 0px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

/* Стили для section class="activities"*/
.wrepper {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.activities-container {
	display: flex;
	flex-direction: column;
	margin: 0 26px;
	padding-left: 20px;
  padding-right: 20px;
	border-radius: 10px;
	background-image: url(../img/fon-waffle.jpg);
	background-position: center;
	background-repeat: repeat;
	font-weight: 400;
  color: #323232;
}

.activities-container-wrepper {
  display: flex;
}

.activities-item  {
  display: flex;
}

.activities-item-3 {
  display: flex;
}

.activities h2 {
	color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.activities-item p,
.activities-item-3 p {
   flex: 0 520px;
   padding-left: 15px;
}

.wrapper-news {
  margin: 0 26px;
  display: flex;
  margin-top: 45px;
}

.newsblock {
  width: 560px;
  margin-right: 13px;
  padding-left: 20px;
  padding-bottom: 40px;
  border-radius: 15px;
  background-image: url(../img/fon-strawberry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.newsblock p {
  color: #323232;
  font-size: 16px;
  font-weight: 500;

}

.newsblock a {
  color: #323232;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: underline;
}

.newsblock a:hover,
.newsblock a:focus {
  color: #e84d37;
}

.newsletter {
  width: 560px;
  padding: 8px;
  border-radius: 15px;
  background-image: url(../img/fon-mail.png);
  background-repeat: no-repeat;
  background-size: cover;


}

.newsletter-wrapper {
	padding: 1px 13px 50px;
  background-color: #f8f7f4;
  border-radius: 15px;
 }


.newsletter p {
  color: #5a5a5a;
  font-weight: 400;
  margin-top: 10px;
}

.newsletter-wrapper {
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  margin-right: 17px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 108px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.newsletter-form button {
  padding: 14px 19px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.newsletter-form button:hover,
.address button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);

}

.newsletter-form button:active,
.address button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Конец для section class="activities"*/

/*Стили для Карты*/

#map {
  position: relative;
  width: 1200px;
  margin-top: 40px;
}

#map img {
  width: 100%;
}

.address {
  position: absolute;
  top: 50px;
  left: 865px;
  width: 302px;
  padding-left: 25px;
  padding-top: 32px;
  padding-bottom: 31px;
  background-color: #ffffff;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 10px;
}

.address h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.address .tell {
  font-size: 20px;
  font-weight: 700;
}

.time {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.address-button {
  padding: 13px 28px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
  border: none;
}

#map img:nth-child(1)  {
  position: absolute;
  width: 80px;
  height: 140px;
  top: 140px;
  left: 260px;
}

#map img:nth-child(2) {
  position: absolute;
  width: 182px;
  height: 110px;
  top: 174px;
  left: 292px;
}





/*Стили для Каталога*/

.magnifier-catalog {
  width: 33px;
  height: 33px;
  background-image: url(../img/logo-magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.header-button-basket {
  padding-left: 35px;
  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 9px;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  background-image: url(../img/logo-basket.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #a1b4a9;
}

.header-navigation-site .button-catalog {
  background-color: #d07058;
  color: #ffffff;
  border-radius: 15px;
  padding: 9px 13px;
  text-decoration: none;
}

.form-basket:hover .header-button-basket {
  padding-top: 10px;
  padding-bottom: 9px;
  background-color: #f8f7f4;
  opacity: 0.99;
  background-image: url(../img/logo-basketred.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.form-basket:hover:active .header-button-basket {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
}

 .header-catalog-site {
  position: relative;
 }

.header-form-catalog {
  position: absolute;
  left: -300px;
  top: 40px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding-left: 81px;
  padding-top: 20px;
  padding-bottom: 21px;
  display: none;
  z-index: 1;
}

.form-basket:hover .header-form-catalog {
  display: block;
}

.header-form-catalog-basket-1,
.header-form-catalog-basket-2 {
  display: flex;
  align-items: center;
}

.header-form-catalog ul {
  display: flex;
  color: #323232;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.header-form-catalog-basket-2 p,
.header-form-catalog-basket-1 p {
  color: #323232;
  padding-right: 15px;
}

.header-form-catalog-basket-2 {
  border-bottom: 1px solid #cacac7;
}

.header-form-catalog .header-form-catalog-basket-2 p,
.header-form-catalog .header-form-catalog-basket-1 p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.form-header-catalog-button {
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  padding: 13px 15px;
  border: none;
  border-radius: 20px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 14px;
}

.wrepperform {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-form-catalog-basket-1::before,
.header-form-catalog-basket-2::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background-image: url(../img/Х.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
}

.header-form-catalog p {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.wrepperform p {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 13px;
}

.price {
  color: #999999;
}

.breadcrumb {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumb a:first-child:hover {
  color: #ffbc9e;
}

.timework-time {
  margin: 0;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.timework-tell {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.wrepper-choise-1 {
  display: flex;
  align-items: center;
}

fieldset {
  border: none;
}

.fillers {
  display: inline-block;
}

select {
  margin-right: 10px;
  padding-left: 18px;
  padding-top: 10px;
  padding-right: 31px;
  padding-bottom: 9px;
  background-color: #9db1a5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  border: none;
  border-radius: 20px;
}

.range {
  border-radius: 25px;
  background-color: #aabbb1;
}

.radio {
  padding: 8px 14px;
  background-color: #aabbb1;
  border-radius: 20px;
}

.radio label {
  position: relative;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid  #ffffff;;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

[type="radio"]:checked + span::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 5%;
  left: 6.7%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #a7b9af;
}

.checkbox span::before {
  content: " ";
  color: #000;
  display: inline-block;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: #FFF;
  border: 2px solid #e3e3e3;
  border-radius: 5px;
  border-image: initial;
  vertical-align: middle;
  background-color: #a7b9af;
}

.catalog-button-choice {
  display: inline-block;
  padding: 9px 30px;
  border: 2px solid #f8faf9;
  border-radius: 20px;
  background-color: #9cb0a4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.catalog-button-choice:hover {
  color: #323232;
  font-weight: 700;
  background-color: #ffffff;
}

.catalog-button-choice:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.main-catalog h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-left: 10px;
}

.main-catalog-list a {
  font-weight: 500;
  text-align: center;
}

.main-catalog-list  b {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.main-catalog-list span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  margin-left: 4px;
}

.main-catalog-list-wrepper .main-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-catalog-list li {
  position: relative;
  width: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  z-index: 2;
}

.main-catalog-list li p:nth-child(2) {
  position: absolute;
  top: 60%;
  left: 0px;
}

.main-catalog-list img {
  border-radius: 50%;
}

.main-catalog-list  li:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  background-color: #9bafa3;
}

.main-catalog-list .quickly {
  display: none;
  padding: 13px 17px;
  color: #fefefe;
  position: absolute;
  top: 357px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;

}

.main-catalog-list li:hover .quickly {
  display: block;
   z-index: 2;
}

.wrepper-main-catalog {
  justify-content: space-between;
}

.bread ul{
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.wrepper-page {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  padding-right: 50px;
}

.wrepper-page a:nth-child(1) {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #323232;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.wrepper-page a {
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  text-decoration: none;
}

.wrepper-page a:not(:nth-child(1)):hover {
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #9db1a5;
  border-radius: 50%;
}

/* Стили для footer*/

.footer {
  /*margin-top: 20px;*/
}

.wrapper-footer {
	margin: 0 26px;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: 35% 35%;

}

.footer-documentation {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

}

.footer-documentation a:hover,
.footer-documentation a:focus {
  color: #ffbc9e;
}

.footer-copyright {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  width: 200px;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
}

.social-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C8D1CC;
  border-radius: 50%;
}

.footer-documentation ul {
  display: flex;
  justify-content: space-between;
}

.wrapper-documentation-1 {
  margin-right: 20px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

/*Стили для поапа*/
.popup {
  position: relative;
  display: none;
}

.popup-clik {
  display: block;
}

.popup-form {
  width: 478px;
  padding-left: 39px;
  padding-bottom: 27px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #f8f7f4;
}

.popup-form h2 {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.popup-form input {
  width: 267px;
  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 12px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}

.popup-form textarea {
  width: 428px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}

.popup-form button {
  width: 139px;
  height: 44px;
  margin-left: 290px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}


.close {
  display: none;
}

.popup button::before {
 content: "";
 width: 18px;
 height: 17px;
 position: absolute;
 top: 16px;
 right: 17px;
 color:#000;
 opacity: 1;
 background-image: url(../img/_Х-big.png);
}






