body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",Times New Roman, serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  color: #ffffff;
  background-color: #849d8f;
}

.wrepper-sliader-catalog {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #849d8f;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

.header-navigation-site,
.header-navigation-catalog,
.header-navigation-list,
.header-button,
.breadcrumb,
.main-catalog-list,
.footer ul,
.footer-social ul,
.main-catalog ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header,
.header-catalog {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

.header-catalog {
   padding-top: 4px;
}

.main-catalog {
  width: 1200px;
  margin: 0px auto;

}

/*Стили для навигации*/

.header-container,
.wrepper-main-catalog,
.main-catalog-list-wrepper {
  display: flex;
  align-items: center;
  padding: 0 26px;
}

.wrepper-main-catalog {
  display: inline-block;
}

.header-container-1 {
  display: flex;
  align-items: center;
}

.header-container-1 a {
  padding-top: 4px;
}

.header-navigation-site,
.header-navigation-catalog {
  display: flex;
  align-items: center;
  margin-left: 11px;
}

.header-container-2 {
  margin-left: auto;
}

 .header-navigation-site >li {
  margin-right: 3px;
  padding: 9px 13px;
}

.catalog {
  padding-right: 12px;

}

.header-navigation-catalog li:nth-child(2) {
  padding-right: 30px;
}

.header-navigation,
.catalog-saite {
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
}

.header-button {
  display: flex;
  align-items: center;
 }

.header-container-2 li {
  height: 35px;
}

.header-catalog-site,
.header-catalog-navigation ul {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.header-navigation   {
  position: relative;
}

.header-navigation-list {
  position: absolute;
  top: 38px;
  left: 0px;
  display: none;
  padding: 13px 0;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  background-color: #f8f7f4;
}

 .catalog-saite:hover .header-navigation-list {
  display: block;
  z-index: 100;
}

.header-navigation-list li:not(:nth-child(1))  {
  padding: 5px 10px;
}

.header-navigation-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #323232;
}

.header-navigation-list li:nth-child(1) {
  margin-bottom: 12px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #323232;
  border-bottom: 1px solid #d1d0ce;
}

.header-navigation-site >li:not(:nth-child(1)):hover,
.catalog-saite:hover {
  background-color: #f7f6f3;
  border-radius: 15px;
}

.header-navigation-site >li:not(:nth-child(1)):active,
.catalog-saite:active {
  border-radius: 15px;
  background-color: #f7f6f3;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
}

.header-navigation-site >li:not(:nth-child(1)):hover >a,
.catalog-saite:hover >a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: #323232;
}


.header-navigation-list li:not(:nth-child(1)):hover {
  background-color: #fbded7;
}

.header-navigation-list li:not(:nth-child(1)):active {
  background-color:  #f6b5a5;
}


/*Стиль для "Поиск"*/
.header-button {
  position: relative;
}

.magnifier {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: #a1b4a9;
  background-image: url(../img/logo-magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

li:hover .magnifier  {
  background-image: url(../img/logo-magnifie-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f7f4;
}

.header-button-search-form input {
  box-sizing: border-box;
  width: 311px;
  padding: 15px 20px;
  margin: 15px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #2e2e2e;
  font-weight: bold;
  font-family: "Roboto-Bold", sans-serif;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.header-button-search-form input:hover,
.header-input-form input:hover,
.newsletter-form input:hover,
.popup-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  background-color: #ffffff;
}

.header-button-search-form input:focus,
.header-input-form input:focus,
.newsletter-form input:focus,
.popup-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  background-color: #ffffff;
}

::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.header-button-search-form {
  position: absolute;
  top: 35px;
  left: -305px;
  width: 341px;
  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
}

.header-button-search-form {
  display: none;
}

li:hover .header-button-search-form {
  display: block;
}

li:hover .submit {
  display: block;
}
/*Стили для кнопки "Вход"*/

.header-button-input {
  margin-right: 18px;
  padding-top: 8px;
  padding-left: 44px;
  padding-right: 17px;
  background-color: #a1b4a9;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-image: url(../img/logo-input.png);
  background-repeat: no-repeat;
  background-position: 16px 40%;
  border: none;
  border-radius: 25px;
}

.header-button li:hover .header-button-input {
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
  background-image: url(../img/logo-forminput.png);
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  border: none;
}

.header-button li:hover:active .header-button-input {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
}

.header-input-form {
  position: absolute;
  top: 40px;
  left: -160px;
  z-index: 1;
  display: none;
  width: 277px;
  padding: 20px 17px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.header-input-form input {
  width: 241px;
  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
  color: #2e2e2e;
  font-weight: bold;
  font-family: "Roboto-Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid #d3d3d2;
  outline: none;
}

.header-button li:hover .header-input-form {
  display: block;
}

.form-button-input {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 40px;
  border: none;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.form-button-input:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.form-button-input:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.blok-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blok-1 {
  display: flex;
  flex-direction: column;
}

.header-input-form a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}
/*Конец стилей "Вход"*/
.main-timework {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 1200px;
  margin: 0 auto;

}
.main-timework-catalog {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.wreppertime {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 30px;
}

.wreppertime p:nth-child(2) {
  margin-top: 2px;
}

.breadcrumb {
  display: flex;
}

.breadcrumb li {
  margin-left: 23px;
  margin-top: 23px;
}

.main-timework p {
  margin-right: 29px;
}

.main-timework p:nth-child(2) {
  margin-top: 2px;
}

.wrepper-sliader {
  margin: auto;
  background-image: url("../img/slider-item1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #849d8f;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider {
  position: relative;
  margin-bottom: 39px;
  padding: 0 26px;
  padding-top: 280px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 28px;
  top: 449px;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .wrepper-sliader #slide1,
#product-2:checked ~ .wrepper-sliader #slide2,
#product-3:checked ~ .wrepper-sliader #slide3 {
  display: block;
}

#product-1:checked ~ .wrepper-sliader label[for="product-1"],
#product-2:checked ~ .wrepper-sliader label[for="product-2"],
#product-3:checked ~ .wrepper-sliader label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .wrepper-sliader {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.jpg");
}

#product-2:checked ~ .wrepper-sliader {
  background-color: #8996a6;
  background-image: url(../img/slider-item2.jpg);
}


#product-3:checked ~ .wrepper-sliader {
  background-color: #9d8b84;
  background-image: url(../img/slider-item3.jpg);
}

.wrepper-sliader::before,
.wrepper-sliader::after {
  content: "";

  visibility: hidden;
}

.wrepper-sliader::before {
  background-image: url("../img/slider-item2.png");
}

.wrepper-sliader::after {
  background-image: url("../img/slider-item3.png");
}

/*Стили для section class="bonus"*/



.bonus {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.bonus-1 {
  width: 545px;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 33px;
  background-image: url(../img/fon-raspberry.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.bonus-2 {
  width: 545px;
  padding-top: 20px;
  padding-left: 24px;
  background-image: url(../img/logo-chocolate.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.bonus h2 {
  margin: 0 auto;
  margin-bottom: 17px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.bonus p {
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.bonus a {
  margin-left: 317px;
  padding-left: 23px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration:  none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  border: none;
  border-radius: 25px;
 }

 .bonus-1 a {
  margin-left: 350px;
 }

.bonus a:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.bonus a:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.heath-wrepper {
  margin: 0 auto;
  margin-bottom:35px;
}

.main-heath {
  width: 1200px;
  margin: 0 auto;
}

.heath {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.heath img {
 border-radius: 50%;

}

.heath li {
  position: relative;
  width: 267px;

  text-align: center;
}

.heath li:nth-child(1),
.heath li:nth-child(2) {
  margin-left: 20px;
}

.heath li:nth-child(3),
.heath li:nth-child(4) {
  margin-left: 30px;
}

.heath li::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 5px;
  width: 67px;
  height: 67px;
  background-image: url(../img/logo-heath.png);
  background-repeat: no-repeat;
  z-index: 1;
}

.heath li p:nth-child(2) {
  position: absolute;
  top: 184px;
  left: 5px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}


/* Стили для section class="activities"*/
.wrepper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.activities-container {
  display: flex;
  flex-direction: column;
  margin: 0 26px;
  font-weight: 400;
  color: #323232;
  background-image:
  url(../img/ice-cream.svg),
  url(../img/logo-leaf.png),
  url(../img/cow.svg),
  url(../img/thermometer.svg),
  url(../img/fon-waffle.jpg);

  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,repeat;
  background-position: 21px 87px,21px 175px,585px 89px,585px 178px,center;
  border-radius: 10px;
}

.activities-container-wrepper {
  display: flex;
}

.activities-container-wrepper-1 {
  display: flex;
  flex-direction: column;
  width: 476px;
  margin-top: 20px;
  padding-left: 72px;
  padding-bottom: 16px;
}

.activities-container-wrepper-2 {
  display: flex;
  flex-direction: column;
  width: 476px;
  margin-top: 20px;
  padding-left: 90px;
}

.activities h2 {
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.activities-item p,
.activities-item-3 p {
  margin: 0;
}

.activities-item:nth-child(2) {
  padding-top: 24px;
}

.activities-item-3:nth-child(2) {
  padding-top: 24px;
}

.wrapper-news {
  display: flex;
  margin: 0 26px;
  margin-top: 45px;
}

.newsblock {
  width: 550px;
  height: 200px;
  margin-right: 18px;
  padding-left: 18px;
  padding-top: 28px;
  padding-bottom: px;
  background-image: url(../img/fon-strawberry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.newsblock p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #323232;
}

.newsblock a {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: underline;
  color: #323232;
}

.newsblock h2 {
  width: 289px;
  margin: 0;
  margin-top: 5px;
}

.newsblock a:hover,
.newsblock a:focus {
  color: #e84d37;
}

.newsletter {
  width: 560px;
  padding: 8px;
  border-radius: 15px;
  background-image: url(../img/fon-mail.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-wrapper {
  height: 155px;
  padding: 1px 14px 52px;
  background-color: #f8f7f4;
  border-radius: 15px;
 }

.newsletter p {
  margin: 0;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: 400;
  margin-top: 10px;
  color: #5a5a5a;
}

.newsletter-wrapper {
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  width: 358px;
  margin-top: 32px;
  margin-right: 8px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 24px;
  color: #2e2e2e;
  font-weight: bold;
  font-family: "Roboto-Bold", sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  outline: none;
}

.newsletter-form button {
  padding: 11px 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  border-radius: 25px;
}

.newsletter-form button:hover,
.address button:hover,
.form-header-catalog-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);

}

.newsletter-form button:active,
.address button:active,
.form-header-catalog-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Конец для section class="activities"*/

/*Стили для Карты*/

#map {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.address {
  position: absolute;
  top: 69px;
  left: 865px;
  width: 280px;
  padding-left: 27px;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 10px;
}

.address-texte {
  width: 148px;
  margin: 0;
}

.address h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.till-texte {
  margin: 0;
  margin-top: 19px;
}

.tell {
  margin: 0;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

.time {
  margin: 0;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.address-button {
  margin-top: 22px;
  padding: 11px 28px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
  border: none;
}


/*Стили для Каталога*/

.magnifier-catalog {
  width: 33px;
  height: 33px;
  background-image: url(../img/logo-magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.header-button-basket {
  padding-left: 35px;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 10px 6px;
  background-color: #a1b4a9;
  border-radius: 30px;
  border: none;
}

.header-navigation-catalog .button-catalog {
  margin-left: 0px;
  padding: 9px 13px;
  text-decoration: none;
  color: #ffffff;
  background-color: #d07058;
  border-radius: 15px;
}

.form-basket:hover .header-button-basket {
  padding-top: 10px;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
   color: #323232;
  background-color: #f8f7f4;
  opacity: 0.99;
  background-image: url(../img/basket-red.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
}

.form-basket:hover:active .header-button-basket {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
}

 .header-catalog-site {
  position: relative;
 }

.header-form-catalog {
  position: absolute;
  left: -240px;
  top: 40px;
  z-index: 1;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 21px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  display: none;
}

.form-basket:hover .header-form-catalog {
  display: block;
}

.header-form-catalog-basket-1,
.header-form-catalog-basket-2 {
  display: flex;
  align-items: center;
}

.header-form-catalog ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.header-form-catalog-basket-2 p,
.header-form-catalog-basket-1 p {
  padding-right: 15px;
  color: #323232;
}

.header-form-catalog-basket-2 {
  border-bottom: 1px solid #cacac7;
}

.header-form-catalog .header-form-catalog-basket-2 p,
.header-form-catalog .header-form-catalog-basket-1 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #323232;
}


.form-basket img {
  border-radius: 50%;
}

.form-header-catalog-button {
  margin-right: 14px;
  padding: 13px 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  background-color: #e84d37;
  box-shadow: 0 1px 2px #ac1000;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  border-radius: 20px;
}

.wrepperform {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-form-catalog-basket-1::before,
.header-form-catalog-basket-2::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background-image: url(../img/cross-min.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
}

.header-form-catalog p {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.wrepperform p {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 13px;
}

.price {
  color: #999999;
}

.breadcrumb {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumb a:first-child:hover {
  color: #ffbc9e;
}

.timework-time {
  margin: 0;
  padding-left: 19px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.timework-tell {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.main-catalog-choice h1 {
  margin: auto;
}

.wrepper-choise-1 {
  display: flex;
  align-items: center;
  padding: 18px 15px;

}

.wrepper-choise-1 fieldset {
  padding: 0;
  border: 0;
}

.roolt label{
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

fieldset {
  border: none;
}

.fillers {
  display: inline-block;
}

select {
  margin-right: 10px;
  padding-left: 8px;
  padding-top: 13px;
  padding-right: 31px;
  padding-bottom: 8px;
  background-color: #9db1a5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  border: none;
  border-radius: 20px;
}

select:hover {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #323232;
}

.range {
  padding: 15px 24px;
  border-radius: 25px;
  background-color: #aabbb1;
}

.bar {
  width: 90px;
  height: 4px;
  margin: 0;
  margin-left: 30px;
  background-color: #f8f7f4;
  border: 1px solid #ffffff;
}

.toggle-min {
  position: absolute;
  top: -8px;
  left: 16px;
  width: 3px;
  height: 3px;
  background-color: #ACACAC;
  border: 9px solid  #ffffff;
  border-radius: 50%;
}

.toggle-min:hover,
.toggle-max:hover {

  transform: scale(1.2);
}

.toggle-max {
  position: absolute;
  top: -8px;
  left: 113px;
  width: 3px;
  height: 3px;
  background-color: #ACACAC;
  border-radius: 50%;
  border: 9px solid  #ffffff;
  border-radius: 50%;
}

.range-controls {
  position: relative;
  width: 176px;
  height: 4px;
  margin: auto;
  background-color: #cbd4cd;
}

.radio {
  height: 34px;
  padding-left: 18px;
  margin-left: 10px;
  background-color: #aabbb1;
  border-radius: 20px;
}

.radio label {
  position: relative;
  margin-right: 12px;
}

.checkbox label {
  margin-right: 15px;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"] + span::before {
  content: "";
  position: relative;
  top: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid  #ffffff;
  margin-right: 0.75em;
  transition: 0.5s ease all;
  opacity: 0.8;
}

[type="radio"]:checked + span::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.8;
}

.radio label:hover span::before,
.checkbox label:hover span::before  {
  opacity: 1;
}

.radio label:hover span::after,
.checkbox label:hover span::after  {
  opacity: 1;
}

.radio input:disabled + span::before,
.checkbox input:disabled + span::before {
  opacity: 0.5;
}

.radio input:disabled + span::after,
.checkbox input:disabled + span::after {
  opacity: 0.5;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + span::before {
  content: "";
 background-image: url(../img/checkbox-on.png);
}

.checkbox {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 20px;
  background-color: #a7b9af;

}

.checkbox span::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
  margin-left: 3px;
  margin-right: 6px;
  text-align: center;
  text-indent: 0px;
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  opacity: 0.8;
}

.catalog-button-choice {
  display: inline-block;
  min-width: 143px;
  margin: 0;
  padding: 9px 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-color: #9cb0a4;
  border: 2px solid #f8faf9;
  border-radius: 20px;
}


legend {
  padding-left: 15px;
  padding-bottom: px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

}

.form-title {
  padding-left: 15px;
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;

}

.catalog-button-choice:hover {
  color: #323232;
  font-weight: 700;
  background-color: #ffffff;
}

.catalog-button-choice:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.main-catalog h1 {
  margin: 0;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.main-catalog-list a {
  font-weight: 500;
  text-align: center;
}

.main-catalog-list  b {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.main-catalog-list span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  margin-left: 4px;
}

 .main-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-catalog-list li {
  position: relative;
  width: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
  margin-bottom: px;
  border-radius: 10px;
}

.main-catalog-list p:nth-child(1) {
  margin: 0;
}

.main-catalog-list li:nth-child(-n+4) p:nth-child(1) {
  padding-top: 16px;
}

.main-catalog-list li:nth-child(-n+4) p:nth-child(2) {
  position: absolute;
  top: 210px;
  left: -2px;
}

.main-catalog-list li:nth-child(n+5):nth-child(-n+8) p:nth-child(1) {
  padding-top: 36px;
}

.main-catalog-list li:nth-child(n+5):nth-child(-n+8) p:nth-child(2) {
  position: absolute;
  top: 230px;
  left: -2px;
}

.main-catalog-list li:nth-child(n+9) p:nth-child(1) {
  padding-top: 36px;
}

.main-catalog-list li:nth-child(n+9) p:nth-child(2) {
  position: absolute;
  top: 230px;
  left: -2px;
}

.main-catalog-list li p:nth-child(3) {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.main-catalog-list li:nth-child(-n+4) p:nth-child(3) {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.main-catalog-list a {
  margin: 0;
}

.main-catalog-list img {
  border-radius: 50%;
}

.substrate {
  position: absolute;
  left: -13px;
  top: -10px;
  width: 293px;
  height: 405px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  opacity: 0.2;
  z-index: 1;
  display: none;
}

.main-catalog-list li:nth-child(3):hover .substrate {
  display: block;
}

.quickly {
  display: none;
  padding: 13px 17px;
  color: #fefefe;
  position: absolute;
  left: 32px;
  bottom: -55px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
}

.main-catalog-list li:nth-child(3):hover .quickly {
  display: block;
  z-index: 2;
}

.main-catalog-list li:nth-child(3):hover .quickly:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.main-catalog-list li:nth-child(3):hover .quickly:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.wrepper-main-catalog {
  justify-content: space-between;
}

.bread ul{
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.pageswitch {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  margin-bottom: 42px;
  padding-right: 13px;

}

.wrepper-page {
  padding-left: 17px;
  padding-right: 35px;
  background-image:
  url(../img/icon-small.png),
  url(../img/icon-right-small.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 177px 3px, 0px 3px;
}

.wrepper-page a:nth-child(1) {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #323232;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.wrepper-page a {
  margin: 0;
  padding: 3px 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  text-decoration: none;
}

.wrepper-page a:not(:nth-child(1)):hover {
  padding: 3px 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #9db1a5;
  border-radius: 50%;
}

/* Стили для footer*/
.footer {
  margin: 0 auto;
}

.wrapper-footer {
  margin: 6px 26px;
  padding-top: 10px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 403px 24px;
}

.footer-documentation {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-documentation a:hover,
.footer-documentation a:focus {
  color: #ffbc9e;
}

.footer-copyright {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-copyright img {
  margin: 0;
}

.footer-copyright p {
  margin: 0;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  width: 200px;
}

.footer-social ul {
  display: flex;
}

.footer-social li {
  margin-right: 15px;
}

.social-button img {
  opacity: 0.8;
}

.social-button img:hover {
  opacity: 1;
}

.social-button img:active {
  opacity: 0.5;
}

.social-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C8D1CC;
  border-radius: 50%;
}

.footer-documentation ul {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.footer-documentation ul li:nth-child(2) {
  order: 1;
}

.footer-documentation ul li:nth-child(3) {
  margin-left: 30px;
}

.footer-documentation ul li:nth-child(4) {
  order: 3;
  margin-left: 50px;
}




/*Стили для поапа*/
.popup {
  position: relative;
  display: none;
}

.popup-clik {
  display: block;
}

.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 453px;
  padding-left: 24px;
  padding-bottom: 27px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #f8f7f4;
}

.popup-form h2 {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.popup-form input {
 height: 45px;
  padding-left: 15px;
  padding-right: 142px;
  color: #2e2e2e;
  font-weight: bold;
  font-family: "Roboto-Bold", sans-serif;
  background-color: #ffffff;
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  outline: none;
}

.popup-form textarea {
  width: 394px;
  height: 155px;
  padding-top: 13px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ffffff;
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  outline: none;
}

.popup-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  background-color: #ffffff;
}

.popup-form textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  background-color: #ffffff;
}

.popup-form button {
  width: 139px;
  height: 44px;
  margin-left: 290px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 25px;
  border: none;
}

.popup-form button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.popup-form button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.close {
  display: none;
}

.popup button::before {
 content: "";
 width: 18px;
 height: 17px;
 position: absolute;
 top: 16px;
 right: 17px;
 color:#000;
 opacity: 1;
 background-image: url(../img/cross.png);
}







