body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",Times New Roman, serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #849d8f;
}

/*Скрыл формы*/


.header-button-search-form,
.header-button-input-form,
.header-form-catalog,
.header-navigation .header-navigation-list,
.header-catalog-navigation .header-navigation-list,
.newsletter-form,
.popup {
  display: none;
}


a {
  text-decoration: underline;
  color: #ffffff;
}

header ul,
.header-navigation ul,
.header-button,

.breadcrumb,
.main-catalog-list,
.footer ul {
  list-style: none;

}

.header-navigation,
.header-catalog-navigation {
  font-weight: 700;
  line-height: 18px;
}

.header-button-input {
  width: 93px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-image: url(../img/logo-input.png);
  background-repeat: no-repeat;
}

.header-button-basket {
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-image: url(../img/logo-basket.png);
  background-repeat: no-repeat;
}

.breadcrumb {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumb a:first-child:hover {
  color: #ffbc9e;
}

.timework-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.timework-tell {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.main-catalog h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.main-catalog-list a {
  font-weight: 500;
}

.main-catalog-list p {

}

.main-catalog-list b {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.main-catalog-list span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.activities {

  border-radius: 10px;

  font-weight: 400;
  color: #323232;

  background-image: url(../img/fon-waffle.jpg);
  background-position: center;
  background-repeat: repeat;
}

.activities h2 {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.newsblock {

  width: 610px;

  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 100px;
  border-radius: 15px;

  background-image: url(../img/fon-strawberry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.newsblock p {
  color: #323232;
  font-weight: 500;
}

.newsblock a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

.newsblock a:hover,
.newsblock a:focus {
  color: #e84d37;
}

.newsletter-wrapper {
  padding: 1px 13px 170px;

  background-color: #f8f7f4;
  border-radius: 15px;
 }
.newsletter {
  width: 610px;

  padding:10px;


  border-radius: 15px;
  background-image: url(../img/fon-mail.png);
  background-repeat: no-repeat;
  background-size: cover;
}



.newsletter p {
  color: #5a5a5a;
  font-weight: 400;
}

.footer-documentation {

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
}

.footer-documentation a:hover,
.footer-documentation a:focus {
  color: #ffbc9e;
}

.footer-copyright {
  color: #fefefe;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}



/*Стили для сетки*/

.header,
.header-catalog,
.main-catalog-list-wrepper  {

  width: 1250px;

}

.header-container,
.wrepper-main-catalog,
.main-catalog-list-wrepper  {
  display: flex;

  margin: 10px auto;
  padding: 0 10px;
}

.header-navigation ul,
.header-catalog-navigation ul,
.header-button,
.footer-social ul,
.main-catalog ul {


  padding: 0;
  margin: 0;
}

.header-container-1 {

  display: flex;

}

.header-container-2 {

  margin-left: auto;
  width: 300px;

}


.header-navigation ul,
.header-catalog-navigation ul {
  width: 549px;
  display: flex;
  justify-content: space-between;

  margin-left: 50px;
}

.header-container-2 .header-button {
  display: flex;
  justify-content: space-around;
}
/*Для */
.activities  {
  margin-bottom: 40px;
}

.activities p {
  margin-left: 4px;

}
.activities-container {
  margin: 10px 10px;
}

.activities-container-wrepper {

  display: flex;
  align-content: flex-start;
  justify-content: space-between;


}
 .activities-item  {
  width: 576px;
  display: flex;
}

.activities-item-3 {

  display: flex;

}

.wrapper-news {
  display: flex;
  justify-content: space-between;
}
/*Для footer*/

.footer {
  margin-top: 20px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
}
.footer-social {

  width: 200px;
}

.footer-social ul {

 display: flex;
 justify-content: space-between;
}

.footer-documentation ul {
  display: flex;
  justify-content: space-between;
}

.wrapper-documentation-1 {

  margin-right: 20px;
}

/*Для каталога*/
.main-catalog-list-wrepper .main-catalog-list {
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.main-catalog-list li {
 width: 267px;
}

.wrepper-main-catalog {
  justify-content: space-between;
}

.bread ul{
  width: 220px;
  display: flex;
  justify-content: space-between;
}
.main-catalog h1 {
margin-left: 10px;
}
